<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta charset="UTF-8"/> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <link href="../assets/css/output.css" rel="stylesheet"/> 
        <link rel="stylesheet" href="../assets/css/custom.css"/> 
        <link rel="preconnect" href="https://fonts.googleapis.com"/> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/> 
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet"/> 
        <title>Document</title>         
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.1/css/all.css"/>
    </head>     
    <body> 
        <nav class="flex justify-between py-5 items-center fixed top-0 w-full z-20 px-32 bg-white"> 
            <div class="w-1/3"> 
                <img src="../assets/imgs/logo.svg" alt=""/> 
            </div>             
            <div class="flex justify-between items-center"> 
                <nav class="flex items-center"> 
                    <ul class="flex space-x-10"> 
                        <li> <a href="./index.html" class="text-sm font-semibold text-gray-600">HOME</a> 
                        </li>                         
                        <li> <a href="./map.html" class="text-sm font-semibold text-gray-400">MAP</a> 
                        </li>                         
                        <!--                <li>-->                         
                        <!--                    <a href="./" class="text-sm font-semibold text-gray-400">PRICING</a>-->                         
                        <!--                </li>-->                         
                        <!--                <li>-->                         
                        <!--                    <a href="#" class="text-sm font-semibold text-gray-400">PLACES</a>-->                         
                        <!--                </li>-->                         
                    </ul>                     
                </nav>                 
            </div>             
        </nav>         
        <main class="flex mt-24 h-screen"> 
            <div class="h-full w-1/4 bg-gray-100 p-5 fixed pb-40"> 
                <div class="flex rounded-full w-full shadow-md"> 
                    <input id="search-input" type="text" placeholder="search" class="bg-white rounded-tl-full rounded-bl-full p-2 w-full focus:border-primary border outline-none"/> 
                    <div class="bg-primary rounded-tr-full rounded-br-full flex items-center w-10 justify-center"> 
                        <img src="../assets/imgs/search.svg"/> 
                    </div>                     
                </div>                 
                <div class="mt-5 overflow-y-scroll h-full modal-scroll-bar px-1" id="side-bar"> 
                    <!-- <div class="bg-white rounded-md flex shadow-md mb-5 max-h-32">
                    <img src="../assets/heromain.jpg" alt="img" class="h-32 w-32 object-cover"/>
                    <div class="p-3">
                        <div>
                            <p class="text-base text-gray-800 font-medium mb-0">Adeleke Hotel</p>
                            <p class="text-xs text-gray-500 font-semibold">Adeleke Location</p>
                            <div class="mt-7 text-xs text-gray-500 bg-gray-300 p-1 rounded-md w-max"><span class="text-gray-700 font-semibold mr-1">5</span>star</div>
                        </div>
                    </div>
                </div> -->                     
                </div>                 
            </div>             
            <div class="w-9/12 fixed right-0"> 
                <div id="map" class="w-full h-screen" style="right: 0"></div>                 
            </div>             
        </main>         
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBCsrtVu2ds7sDS9_BnnM0ggtL2JbsxeE&callback=initMap" async>
</script>         
        <script src="../assets/js/mapUtils.js"></script>         
        <!-- <script src="../app.js"></script> -->         
        <!-- <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script> -->         
        <!-- <script src="../utils.js"></script> -->         
    </body>     
</html>